# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# LinkedIn saved files
Srinivas Rallabandi, PMP, P.Eng. _ LinkedIn.html
Srinivas Rallabandi, PMP, P.Eng. _ LinkedIn_files/
